*.py[cod]
#*#
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
*.doit*
pip-wheel-metadata
.tox

# ipython
*/.ipynb_checkpoints
# jupytext
.ipynb_checkpoints/

# autover
*/.version

# nbsite
# this dir contains the whole website and should not be checked in on main
site/builtdocs/

site/.venv/

build/

.venv/
