*.py[cod]
#*#
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
*.doit*
pip-wheel-metadata
.tox
.venv/

# ipython
*/.ipynb_checkpoints

# autover
*/.version

# nbsite
# this dir contains the whole website and should not be checked in on main
site/builtdocs/

site/.venv/

build/
dist

# pixi
.pixi
pixi.lock

# mystnb
jupyter_execute/

# version
_version.py
