*.py[cod]
#*#
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
*.doit*
pip-wheel-metadata
.tox

# autover
*/.version

# nbsite
# these files normally shouldn't be checked in as they should be
# dynamically built from notebooks
doc/**/*.rst
doc/**/*.ipynb
doc/**/*.json
# this dir contains the whole website and should not be checked in on master
builtdocs/
