# things not included
# language
# notifications - no email notifications set up

name: tests
on:
  pull_request:
    branches:
    - '*'

jobs:
  test_suite:
    name: Test on ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version: [3.6, 3.7, 3.8]
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0} 
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "100"
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Fetch
        run: git fetch --prune --tags
      - name: env setup
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install --upgrade pip
          python -m pip install toml
          python -m pip install pyctdev
          doit ecosystem_setup
      - name: doit develop_install
        run: doit develop_install -o examples -o tests
      - name: env_capture
        run: doit env_capture
      - name: tests
        run: doit test_all

